<div class="container">
    <div class="row">
        <h1 class="text-center">{{App.config.appName}}</h1>
    </div>

    <div class="row">
        <form class="form" role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">

                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <div class="row">
        <ul>
        {{#each controller.results}}
            <li>{{value.data.name}}</li>
        {{/each}}
        </ul>
    </div>
</div>

