<!DOCTYPE html>

<html>
<head>
    <title>{{appName}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/css/styles.css" rel="stylesheet" media="screen">

    <script data-main="/js/main" src="/js/require.js"></script>
</head>

<body id="homepage">

<script type="text/x-handlebars" id="application">
    <div class="container">
        <h1>{{appName}}</h1>

        <div class="row">
            <div class="container">
                <div class="col-md-12 header">
                    <div class="logo">
                        <a href="#">Apollo Crawler</a>
                    </div>

                    <div class="menu">
                        <ul>
                            <li><a href="#">Projects</a></li>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="hero-message">
                    <span class="light">We</span>
                    <span class="action"><a id="changeOnClick" href="#">love</a></span>
                    <span class="strong">Data</span>
                </div>
            </div>
        </div>
    </div>
</script>
</body>
</html>
